Options +FollowSymLinks
RewriteEngine On


# Produtos
RewriteRule ^produtos/?$ Controller/ProdutosController.php [NC,L]
RewriteRule ^produtos/adicionar/?$  Controller/ProdutosController.php [NC,L]
RewriteRule ^produtos/editar/(\d+)/?$ Controller/ProdutosController.php [NC,L]
RewriteRule ^produtos/deletar/(\d+)/?$ Controller/ProdutosController.php [NC,L]
RewriteRule ^produtos/visualizar/(\d+)/?$ Controller/ProdutosController.php [NC,L]

